.LeadsTable {
  text-align: center;
}

.pager {
  text-align: center;
  margin: 8px;
}

li {
    display: inline-block;
    *display: inline;
}

.previousButton{
    text-align: left;
}

.nextButton{
    
}

.search {
    text-align: right;
    margin: auto;
    padding: 8px;
}

.inputFile {
    border: 1px solid black;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}